body {
    background-color: #1d2b2c;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    }
    
    .app {
   display: flex;
   width: 100%; 
   height: 100vh;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.app__video {
   display: flex;
   align-items: center;
   width:100% ;
   height: 100%;
}
.app__canvas {
   position: absolute;
   top: 100px;
      width:100% ;
   height: 100%
}